header{
			margin-top:50px;
			text-align:center;
			font-size:30px;
		}
		#section1{
			border: 2px solid black;
			width:400px;
			margin: 40px;
			box-sizing:border-box;
			background:silver;
			padding:20px;
			padding-top: 0px;
			float:left;
		}
		#div1{
			border:2px solid black;
			width:72.5px;
			text-align:center;
			border-top:0;
			border-right:none;
			margin-left:301px;
			margin-bottom:20px;	
			background:pink;
			}
			
		#section2{
			float: left;
			border: 2px solid black;
			width:400px;
			margin: 40px;
			box-sizing:border-box;
			background:silver;
			padding:20px;
			padding-top: 0px;
		}
		
		#div2{
			border:2px solid black;
			width:72.5px;
			text-align:center;
			border-top:0;
			border-right:none;
			margin-left:301px;
			margin-bottom:20px;	
			background:red;
		}
		#section3{
			float:left;
			border: 2px solid black;
			width:400px;
			margin: 40px;
			box-sizing:border-box;
			background:silver;
			padding:20px;
			padding-top: 0px;
		}
		
		#div3{
			border:2px solid black;
			width:72.5px;
			text-align:center;
			border-top:0;
			border-right:none;
			margin-left:301px;
			margin-bottom:20px;	
			background:orange;
		}
		